
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    	
      <h1>
        Name : <%= @employee[:name] %>
      </h1>
      <h1>
        Age : <%= @employee[:age] %>
      </h1>
      <h1>
        Designation : <%= @employee[:designation] %>
      </h1>
      <h1>
        Date of Joining : <%= @employee[:date_of_joining] %>
      </h1>

      

    </section>
  </aside>
</div>